.venv/
dataset/
dataset_big/
dataset_big2/
dataset_big3/
dataset_big4/
dataset_big4_encoded/
dataset_big5/
dataset_big6/
dataset_big7/
dataset_big8/
dataset_big9/
dataset_big10/
dataset_big11/
dataset_big12/
nsynth-pred/
nsynth-pred-v2/
nsynth-pred-0_2/
nsynth-test/

*.pyc

x.npy
x_t.npy
y.csv
y_t.csv
.qodo

*.keras
*.joblib
*.save
*.h5
*.npy
